.buttons__button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(180, 100%, 25%);
    transition: color 0.3s;
    border: none;
}

@media(max-width: 767px){
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover{
    color: hsl(180, 100%, 29%);
}
  
.buttons__button:disabled{
    color: hsl(0, 0%, 80%);
}