.section__header {
    font-size: 15px;
    font-weight: bold;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    margin-bottom: 2px;
}

.section__field {
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    margin: 0;
    list-style-type: none;
}

